<form method="POST">
    <div class="mb-3">
      <label for="" class="form-label">Nazwa firmy</label>
      <input type="text" name="name" class="form-control" required>
      <div class="form-text">Przynajmniej 3 znaki</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Slug</label>
      <input type="text" class="form-control" name="slug" required>
    </div>
    <div class="mb-3">
        <label type="number"  class="form-label">Liczba pracowników</label>
        <input type="number" class="form-control" name="employeesCount">
    </div>
    <button class="btn btn-primary">Dodaj firmę</button>
  </form>